.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #e435ff;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	height: 50px;
	padding: 0 20px;

	&_menu {
		position: absolute;
		left: 10px;
		outline: none;
		background-color: blue;
		color: white;
		border: none;

		&:hover {
			filter: brightness(50%);
			border: none;
			outline: none;
		}
	}
}
